asgiref==3.5.2
astroid==2.11.5
attrs==21.4.0
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
dill==0.3.5.1
Django==4.0.5
django-bootstrap-icons==0.7.9
django-bootstrap-v5==1.0.11
django-bootstrap5==21.3
django-cors-headers==3.12.0
django-crispy-forms==1.14.0
djangorestframework==3.13.1
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pylint==2.14.0
pyparsing==3.0.9
pytest==7.1.2
pytz==2022.1
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
tomli==2.0.1
tomlkit==0.11.0
urllib3==1.26.9
wrapt==1.14.1
